.displaySelections {
    margin: 10px 25px;
    width: 350px;
    padding: 16px 8px;
    position: absolute;
    border: 3px #16ce15 solid;
    background: rgb(13, 66, 8, 0.8);
    color: #00ff2b;
    font-size: 20px;
    right: 0px;
    float: right;
  }